<md-content flex layout-margin>

  <h2>
    Loading Google API
  </h2>
    <md-button class="md-raised md-primary md-hue-2" ng-click="load()">
      Load APIs
    </md-button>
    <div >
      Google API
      <md-icon ng-if="loadStatus.gapiLoaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.gapiLoaded" style="color:red;">not_interested</md-icon>
    </div>
    <div>
      Auth2 API
      <md-icon ng-if="loadStatus.auth2Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.auth2Loaded" style="color:red;">not_interested</md-icon>
    </div>
    <div >
      Google Analytics Reporting V3
      <md-icon ng-if="loadStatus.analyticsV3Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.analyticsV3Loaded" style="color:red;">not_interested</md-icon>
    </div>
    <div >
      Google Analytics Reporting V4
      <md-icon ng-if="loadStatus.analyticsV4Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.analyticsV4Loaded" style="color:red;">not_interested</md-icon>
    </div>

  <h2>
    Authenticate
  </h2>
  <md-button class="md-raised md-primary md-hue-2" ng-click="initAuth()">
    Initiate Auth
  </md-button>
  <div >
    Auth Initilization
    <md-icon ng-if="authStatus.authInitialized" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!authStatus.authInitialized" style="color:red;">not_interested</md-icon>
  </div>
  <md-button class="md-raised md-primary md-hue-2" ng-click="signIn()">
    Sign-In
  </md-button>
  <md-button class="md-raised md-primary md-hue-2" ng-click="signOut()">
    Sign-Out
  </md-button>
  <div >
    Signed In
    <md-icon ng-if="authStatus.signedIn" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!authStatus.signedIn" style="color:red;">not_interested</md-icon>
    Google Account: <span ng-bind="authStatus.user"></span>
  </div>


  <h2>
    Management API
  </h2>
  <md-button class="md-raised md-primary md-hue-2" ng-click="initManagementService()">
    Get Management Data
  </md-button>
  <div >
    Accounts, Properties, Views
    <md-icon ng-if="managementStatus.accountsTreeLoaded" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!managementStatus.accountsTreeLoaded" style="color:red;">not_interested</md-icon>
    <md-button class="md-raised" ng-if="managementStatus.accountsTreeLoaded" ng-click="showDialog($event, 'dgAccountTree')">
      Show Tree
    </md-button>
  </div>
  <div >
    Segments
    <md-icon ng-if="managementStatus.segmentsLoaded" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!managementStatus.segmentsLoaded" style="color:red;">not_interested</md-icon>
    <md-button class="md-raised" ng-if="managementStatus.accountsTreeLoaded" ng-click="showDialog($event, 'dgSegments')">
      Show Segments
    </md-button>
  </div>
  <div >
    MetaData
    <md-icon ng-if="managementStatus.metadataLoaded" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!managementStatus.metadataLoaded" style="color:red;">not_interested</md-icon>
    <md-button class="md-raised" ng-if="managementStatus.accountsTreeLoaded" ng-click="showDialog($event, 'dgMetadata')">
      Show Metadata
    </md-button>
  </div>

  <h2>
    View Selector
  </h2>
  <md-button ngar-view-selector class="md-primary md-raised md-hue-2">
    Select View
  </md-button>
  <div>
    <p><strong>Account:</strong>{{managementItems.breadcrumbs.account}}</p>
    <p><strong>Property:</strong>{{managementItems.breadcrumbs.property}}</p>
    <p><strong>View:</strong>{{managementItems.breadcrumbs.view}}</p>
  </div>


  <h2>
    Building Requests
  </h2>

  <h3>
    Pick Dates
  </h3>
  <div layout="row" layout-padding>
    <div layout="column">
      <label class="md-subhead">Start Date</label>
      <md-datepicker ng-model="mindate" ng-change="openEndDate()" md-hide-icons="triangle" md-open-on-focus ng-required></md-datepicker>
    </div>
    <div layout="column">
      <label class="md-subhead">End Date</label>
      <md-datepicker ng-model="maxdate" md-hide-icons="triangle" md-is-open="endDateIsOpen"  md-open-on-focus ng-required></md-datepicker>
    </div>
  </div>

  <h3>
    Select Dimensions
  </h3>
  <ngar-measurement-selector type="DIMENSION"></ngar-measurement-selector>

  <h3>
    Select Metrics
  </h3>
  <ngar-measurement-selector type="METRIC"></ngar-measurement-selector>

  <h3>
    Select Segments
  </h3>
  <ngar-measurement-selector type="SEGMENT"></ngar-measurement-selector>


  <md-button ng-click="buildRequest()" class="md-primary md-raised md-hue-2">
    Build Request
  </md-button>

</md-content>
