<md-content layout-margin>

  <h2>
    Loading Google API
  </h2>
    <md-button class="md-raised md-primary md-hue-2" ng-click="load()">
      Load APIs
    </md-button>
    <div >
      Google API
      <md-icon ng-if="loadStatus.gapiLoaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.gapiLoaded" style="color:red;">not_interested</md-icon>
    </div>
    <div>
      Auth2 API
      <md-icon ng-if="loadStatus.auth2Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.auth2Loaded" style="color:red;">not_interested</md-icon>
    </div>
    <div >
      Google Analytics Reporting V3
      <md-icon ng-if="loadStatus.analyticsV3Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.analyticsV3Loaded" style="color:red;">not_interested</md-icon>
    </div>
    <div >
      Google Analytics Reporting V4
      <md-icon ng-if="loadStatus.analyticsV4Loaded" style="color:green;">check_circle</md-icon>
      <md-icon ng-if="!loadStatus.analyticsV4Loaded" style="color:red;">not_interested</md-icon>
    </div>

  <h2>
    Authenticate
  </h2>
  <md-button class="md-raised md-primary md-hue-2" ng-click="initAuth()">
    Initiate Auth
  </md-button>
  <div >
    Auth Initilization
    <md-icon ng-if="authStatus.authInitialized" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!authStatus.authInitialized" style="color:red;">not_interested</md-icon>
  </div>
  <md-button class="md-raised md-primary md-hue-2" ng-click="signIn()">
    Sign-In
  </md-button>
  <md-button class="md-raised md-primary md-hue-2" ng-click="signOut()">
    Sign-Out
  </md-button>
  <div >
    Signed In
    <md-icon ng-if="authStatus.signedIn" style="color:green;">check_circle</md-icon>
    <md-icon ng-if="!authStatus.signedIn" style="color:red;">not_interested</md-icon>
    Google Account: <span ng-bind="authStatus.user"></span>
  </div>


  <h2>
    Get Accounts
  </h2>
  <md-button class="md-raised md-primary md-hue-2" ng-click="getAccounts()">
    Get Account
  </md-button>

  <h2>
    Get API metadata
  </h2>
  <md-button class="md-raised md-primary md-hue-2" ng-click="getMetadata()">
    Get Metadata
  </md-button>

</md-content>
