md-card {
  /*background-color: white;*/
  margin: 20px !important;
}

md-card md-card-header {
  background-color: rgba(0, 150, 136, 0.08);
  padding: 0 16px 0 16px;
  border-color: #009688;
  border-style: solid;
  color: #00695c;
}
