<md-content layout-margin>

  <h2>
    Authenticate
  </h2>

  <md-button class="md-raised md-primary md-hue-2" ng-click="signin()">
    Sign-In
  </md-button>

  <md-button class="md-raised md-primary md-hue-2" ng-click="signout()">
    Sign-Out
  </md-button>

  <h2>
    Get Accounts
  </h2>

  <md-button class="md-raised md-primary md-hue-2" ng-click="getAccounts()">
    Get Account
  </md-button>

  <h2>
    Get API metadata
  </h2>

  <md-button class="md-raised md-primary md-hue-2" ng-click="getMetadata()">
    Get Metadata
  </md-button>

</md-content>
